.styling__todoColStyle li {
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247, 247, 210,1)), to(rgba(240,242,155,1)));
    background: -moz-linear-gradient(top, rgba(247, 247, 210,1), rgba(240,242,155,1));
}

.styling__progressColStyle li {
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(320, 250, 170,1)), to(rgba(270, 200, 120,1)));
    background: -moz-linear-gradient(top, rgba(320, 250, 170,1), rgba(270, 200, 120,1));
}

.styling__doneColStyle li {
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(230, 320, 200,1)), to(rgba(180, 270, 150,1)));
    background: -moz-linear-gradient(top, rgba(230, 320, 200,1), rgba(180, 270, 150,1));
}

.styling__somedayColStyle li {
    background: #f1f3a2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(270,270,270,1)), to(rgba(220,220,220,1)));
    background: -moz-linear-gradient(top, rgba(270,270,270,1), rgba(220,220,220,1));
}


.styling__groupStyle li.styling__itemStyle {    
    -webkit-transform: rotate(0.1deg);
    -moz-transform: rotate(0.1deg);
    -o-transform: rotate(0.1deg);
}

/*
.styling__groupStyle li.styling__itemStyle:nth-child(even) {
    -webkit-transform: rotate(.5deg);
    -moz-transform: rotate(.5deg);
    -o-transform: rotate(.5deg);
}
*/

.styling__groupStyle li.styling__itemStyle::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 150px;
    top: -10px;
    width: 50px;
    height: 15px;
    z-index: 2;
    
    background-color: rgba(243,245,228,0.8);
    border: 2px solid rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}

.styling__groupStyle li.styling__itemStyle:nth-child(even)::before {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

.styling__appHeaderStyle img { 
    float: left;
}

.styling__appHeaderStyle .styling__headerContainerStyle { 
    float: left;
    left: auto;
}
.styling__appHeaderStyle .styling__headerTextStyle { 
    float: left;
    left: auto;
    margin-left: 3px;
}